.bg-white.rounded-lg.p-6(class='md:flex')
  img.h-16.w-16.rounded-full.mx-auto(class='md:h-24 md:w-24 md:mx-0 md:mr-6', src='' + photo)
  .text-center(class='md:text-left')
    h2.text-lg= name
    .text-purple-500 
    .text-gray-600= contacts.email
    .text-gray-600= contacts.phone