//- layout.pug
html
  head
    title My Site - #{title}
    link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    style.
        @media (min-width: 768px) {
            .container {
                max-width: 768px;
            }
        }
  body
    block content
    