.bg-gray-500.rounded-lg.p-6.w-full.mb-4(class='md:flex')
  .inline-flex.w-full
    button.bg-gray-300.w-full.text-gray-800.font-bold.py-2.px-4.rounded-l(class='hover:bg-gray-400')
      | Prev
    button.bg-gray-300.w-full.text-gray-800.font-bold.py-2.px-4.rounded-r(class='hover:bg-gray-400')
      | Next